
$border-color: #cccccc; 
$background-color: #e28a8a;

$background-theme-color: #f4ede6a8;
$module-header-font-color: #403b3b;
$border-color: #eeeefa;

$primary-btn-bgcolor: #4e232a;
$primary-btn-font-color: #ffffff;
$open-btn-bgcolor: #e9e7e3;
$open-btn-font-color: #6b5e43;
$add-btn-bgcolor: #e1dfd9;
$add-btn-font-color: #6b5e43;
$edit-btn-bgcolor: #2b2b2b;
$edit-btn-font-color: #ffffff;
$close-btn-bgcolor: #f2f2f2;
$close-btn-font-color: #4e232a;


$required-fill-color: #ece9e9;