@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --input-fields-border-color: #d3d3f1a3;
    --input-fields-border-hovor-color: #c8c8f0;
    --input-fields-bg-hovor-color: #b4b1d81b;
    --basic-font-color: #555555;
    --header-font-color: #4e232a;
    --input-label-font-color: #5e6285;
    --input-placeholder-font-color: #a2a2a2;
    --font-family-main: 'Inter', sans-serif;
}

* {
    font-family: 'Inter', sans-serif; 
}