.section_with_line {
    display: flex;
    align-items: center;
}

.section_title {
    font-size: 20px;
    font-weight: 600;
    color: #403b3b;
    margin-right: 10px;
    white-space: nowrap;
}

// .section_with_line::after {
//     content: '';
//     flex: 1;
//     height: 0.5px;
//     background-color: #eaeaea; }