@import "../../../../assets/scss/variables.module.scss";
.section_with_line {
    display: flex;
    align-items: center;
}

.section_title {
    font-size: 20px;
    font-weight: 600;
    color: $module-header-font-color;
    margin-right: 10px;
    white-space: nowrap;
}