.countries_container {
      width: 100%;
   height: calc(80vh - 80px);  
}
.inner_container{
    display: flex;
     margin-top: 15px;
    width: 100%;
    flex-wrap: wrap;
}
.cardStatus{
    justify-content: center;
    font-size: 13px;
    display: flex;
    width: 30%;
    gap: 10px;
    color: #006f04;
}
.projectCount{
  color: #973813;
  font-size: 13px;
  font-weight: 500;
}
.projectnumber{
     padding: 2px;
  background-color: #fbede8;
  border-radius: 2px;
  margin-right: 5px;
}
.peopleContainer{
     padding: 12px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
    gap:40%;
}
.countries_Wrapper{
    padding: 15px 20px;
}