.TodoList_Wrapper{
    width: 100%;
    height: 100%;
    // margin-top: 10px;
    .TodoList_main{
        margin-top: 10px;
        height: 90%;
    }
}
.checkBox_Wrapper{
    display: flex;
    gap:10%;
    margin-top: 25px;
}