.popupWrapper{
    min-height: 100vh !important;
    max-height: 100vh !important;
    margin: 0px !important;
}
.p-dialog .p-dialog-content{
    padding: 0px 20px 10px 20px!important;
}
.p-dialog .p-dialog-header{
    padding: 0px!important;
    box-shadow: 0px -11px 50px 0px #7b5abb4d;
        z-index: 100;
    }
    .p-dialog .p-dialog-footer{
        padding: 10px 30px!important;
        box-shadow: 0px 11px 50px 0px #7b5abb4d;
            z-index:100;
}



/* content style */
.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
.section-wrapper .three {
    flex: 0 0 calc(33.333% - 7px);
}
.section-wrapper .two {
    flex: 0 0 calc(50% - 5px);
}
.section-wrapper .one {
    flex: 0 0 calc(100% - 1px);
}

/* response style */

.popup_response_wrapper {
    height: 80vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.popup_response_wrapper .popup_response_content{
    width: 100%;
}
.popup_response_wrapper .popup_response_content p{
    color: green;
    font-size: 18px;
    font-weight: 600;
}
.popup_response_wrapper .popup_response_content span{
    font-size: 14px;
}