.p-dialog .p-dialog-content{
    padding: 10px 20px!important;
}
.p-dialog .p-dialog-header{
    padding: 0px!important;
}



/* content style */
.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
.section-wrapper .three {
    flex: 0 0 calc(33.333% - 7px);
}
.section-wrapper .two {
    flex: 0 0 calc(50% - 5px);
}
.section-wrapper .one {
    flex: 0 0 calc(100% - 1px);
}