@import "../../../assets/css/variables.css";

.three {
    flex: 0 0 calc(33.333% - 7px);
}

.two {
    flex: 0 0 calc(50% - 5px);
}

.one {
    flex: 0 0 calc(100% - 1px);
}

.Mui-disabled:disabled {
    color: #000;
    -webkit-text-fill-color: #000 !important;
    opacity: 1;
    background-color: #f5f5f5;
}

/* input label style */

.input-label-text{
    display: flex;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 500;
    color: var(--input-label-font-color);
}

.customInputWrapper .p-inputtext:focus{
    box-shadow: none;
    border-color: var(--input-fields-border-hovor-color);
}
.customInputWrapper .p-inputtext{
    width: 100%;
   font-size: 14px;
    padding: 5px 10px;
}

/* input style */
.customInputWrapper .MuiInputBase-root{
    padding: 0px!important;
}
.customInputWrapper .MuiTextField-root{
    width: 100%;
    font-size: 14px!important;
    /* height: 35px; */
    outline: none !important;
    box-shadow: none !important;
}
.customInputWrapper .MuiInputBase-input{
    font-family: var(--font-family-main)!important;
    padding: 9px 10px;
    font-size: 14px;
    font-weight: 400;
}
.customInputWrapper .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.customInputWrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1.5px solid var(--input-fields-border-hovor-color) !important;
    background-color: var(--input-fields-bg-hovor-color) !important;
}
.customInputWrapper .MuiOutlinedInput-notchedOutline {
    border-color: var(--input-fields-border-color)!important;
    border-radius: 2px !important;
}


/* DropDown Style */
.customDropDownWrapper .MuiInputBase-root{
    width: 100%;
    font-size: 14px!important;
    height: 38px;
    align-items: center;
    outline: none !important;
    box-shadow: none !important;
    font-family: var(--font-family-main) !important;
}
.MuiMenuItem-root {
    font-size: 14px !important; 
}
.customDropDownWrapper .MuiInputBase-root .MuiSelect-select{
    min-height: auto;
}
.customDropDownWrapper .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.customDropDownWrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1.5px solid var(--input-fields-border-hovor-color) !important;
    background-color: var(--input-fields-bg-hovor-color) !important;
}
.customDropDownWrapper .MuiOutlinedInput-notchedOutline {
    border-color: var(--input-fields-border-color);
    border-radius: 2px !important;
}
.customDropDownWrapper .MuiOutlinedInput-input{
    padding: 0px 10px !important;
}

/* auto select style */

.customAutoSelectWrapper .MuiInputBase-root {
    padding: 0px !important;
    height: 38px !important;
    font-size: 14px !important;
}
.customAutoSelectWrapper .MuiAutocomplete-root{
    width: 100%;
}
.customAutoSelectWrapper .MuiInputBase-input{
    padding: 0px 10px !important;
}
.customAutoSelectWrapper .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.customAutoSelectWrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1.5px solid var(--input-fields-border-hovor-color) !important;
    background-color: var(--input-fields-bg-hovor-color) !important;
}

.customAutoSelectWrapper .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--input-fields-border-color) !important;
    border-radius: 2px !important;
}


/* Date picker style */
.MuiDateCalendar-root{
    width: 300px!important;
}
.customDatePickerWrapper .MuiStack-root{
    overflow: hidden!important;
    padding: 0px!important;
}
.customDatePickerWrapper .MuiInputBase-root .MuiInputBase-input{
    font-size: 14px !important;
    padding: 6px 10px;
    height: auto;
    align-items: center;
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--input-fields-border-color);
}
.customDatePickerWrapper .MuiInputBase-root{
    height: 38px!important;
    padding-right: 0px!important;
}
.customDatePickerWrapper .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.customDatePickerWrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1.5px solid var(--input-fields-border-hovor-color) !important;
    background-color: var(--input-fields-bg-hovor-color) !important;
}
.customDatePickerWrapper .MuiOutlinedInput-notchedOutline{
    border: 1px solid var(--input-fields-border-color) !important;
    border-radius: 2px !important;
}
.customDatePickerWrapper .MuiFormControl-root{
    width: 100%!important;
}
.customDatePickerWrapper .MuiFormControl-root{
    width: 100%!important;
}

.customDateAndTimeWrapper .MuiDateCalendar-root{
    max-height: 300px !important;
    overflow: auto !important;
}
.customDateAndTimeWrapper .MuiMultiSectionDigitalClock-root{
    max-height: 300px !important;
}

/* people picker style */
.ms-PickerItem-removeButton{
    font-family: "Segoe UI", sans-serif !important;
}

/* error style */

.sectionError .MuiOutlinedInput-notchedOutline, .sectionError .ms-BasePicker-text {
    /* border: 1px solid !important;
    border-image: linear-gradient(23deg, #d8111178, var(--input-fields-border-hovor-color)) 1 !important; */
    border: 1px solid #ff000038 !important;
    background: #e4c5c52e !important;
}