.cardStatus{
    justify-content: center;
    font-size: 13px;
    display: flex;
    width: 30%;
    gap: 10px;
    color: #006f04;
}
.projectCount{
  color: #973813;
  font-size: 13px;
  font-weight: 500;
}
.projectnumber{
     padding: 2px;
  background-color: #fbede8;
  border-radius: 2px;
  margin-right: 5px;
}