.fc-theme-standard, .fc-scrollgrid{
    border: none !important;
}
.fc .fc-daygrid-day-top {
    justify-content: start;
}
.fc-header-toolbar{
    margin-bottom: 10px !important;
}
.fc-col-header-cell{
    text-align: left !important;
    padding: 10px 0px !important;
    background-color: #ecebeb;
}
.fc-event {
    background-color: #d4f0f7;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: 12px;
    margin-bottom: 2px;
    color: #000;
    cursor: pointer;
}

.fc-event:hover {
    background-color: #bcd9e2;
}

.fc-daygrid-event-dot {
    display: none; 
}

.fc-daygrid-day-number {
    font-weight: bold;
    margin-bottom: 6px;
}

.fc .fc-daygrid-event-harness+.fc-daygrid-event-harness {
    margin-top: 2px;
}

.fc .fc-daygrid-more-link {
    background-color: #c4b6b6;
    border-radius: 4px;
    color: white;
    padding: 2px 4px;
    font-size: 12px;
}
.fc-theme-standard td,
.fc-theme-standard th{
    border: none !important;
}
.fc-daygrid-body td{
    border: none !important;
    padding: 0px 10px !important;
}
.fc-col-header th{
    border: none !important;
    padding: 10px !important;
}
.fc-button-primary{
    text-transform: capitalize !important;
    color: var(--section-header-font-color) !important;
    background-color: #fff !important;
    /* border: none !important; */
    border: 1px solid #ddd1d1 !important;
}
.fc-button-primary:focus{
    box-shadow: none !important;
}
tbody .fc-scroller{
    height: 50vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}



/* weekday based colors */

/* tbody .fc-day-mon{
    background-color: #e3f2fd96;
}

tbody .fc-day-tue{
    background-color: #f1f8e99e;
}

tbody .fc-day-wed{
    background-color: #fbd9a152;
}

tbody .fc-day-thu{
    background-color: #fce4ec59;
}

tbody .fc-day-fri{
    background-color: #e8f5e9ba;
}

tbody .fc-day-sat{
    background-color: #ede7f685;
}

tbody .fc-day-sun{
    background-color: #c2c6bf75;
} */
tbody .fc-day-today{
    background-color: #60553b!important;
    border-radius: 10px;
    color: #fff;
}

.fc-day-mon .fc-event{
    background-color: #309aecd9;
    color: #16386b;
}

.fc-day-tue .fc-event{
    background-color: #daf7ba;
    color: #33691e;
}

.fc-day-wed .fc-event{
    background-color: #f7e0bd;
    color: #e65100;
}

.fc-day-thu .fc-event{
    background-color: #fce4ec;
    color: #880e4f;
}

.fc-day-fri .fc-event{
    background-color: #e8f5e9;
    color: #1b5e20;
}

.fc-day-sat .fc-event{
    background-color: #dbd0eb;
    color: #220f5bd4;
}

.fc-day-sun .fc-event{
    background-color: #f0c7cd;
    color: #b71c1c;
}