@import '../../../../assets/scss//variables.module.scss';

.mainHeader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
//   padding: 10px 20px;
//   background-color: $background-theme-color;
}
.mainHeader_UserDetails{
    display: flex;
    align-items: center;
    gap: 14px;
    .mainHeader_UserDetails_text{
        text-align: end;
        p{
            margin: 0px;
            font-weight: 600;
            color: #60553b;
        }
        span{
            font-size: 12px;
            color: #e02727b3;
        }
    }
}